// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 50px;
  top: 50px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 35px;
    height: 4px;
    position: relative;
    margin: 0 0 5px 0;
    background: white;
    @include easeOut;
  }

  // Rotate Into X With Menu Lines
  &.close {
    transform: rotate();

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1){
        background: red;
        transform: rotate(180deg) translate(5px, 5px);
      };
      
      // Line 2 - Hide
      &:nth-child(2){
        background: red;
        transform: rotate(180deg) translate(5px, 5px);
      };

      // Line 3 - Rotate
      &:nth-child(3){
        background: red;
        transform: rotate(180deg) translate(5px, 5px);
      }
    }
  }
}
